
@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}
/**
console
 */
#Canvas {
    background-color: #000 !important;
    min-height: 500px;
}
#console {

    font-size: 16px;
    font-family: ui-sans-serif;
    margin-right: 11px;
}
.CodeContainer{
    min-height: 530px;
    max-height: 530px;
    overflow-x: hidden;
    overflow-y: auto;
}
/*
Scroll bar
 */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.bg-white {
    background-color: #2e2e2e !important;
}

/**
Console
 */
div.ControlsRow, div.HeadersRow {
    font-family: Georgia;
}
div.AdRow{
    font-family: Georgia; font-size:11px;
}
div.Canvas
{
    font-family: Lucida Console, Georgia;
    font-size: 13px;
    background-color:#ECECEC;
    color:#000000;
    border:solid 1px #CECECE;
}
.ObjectBrace
{
    color:#00AA00;
    font-weight:bold;
}
.ArrayBrace
{
    color: #2ba780;
    font-weight:bold;
}
.PropertyName1
{
    color:#CC0000;
    font-weight:bold;
}
.PropertyName2
{
    color: #189f8b;
    font-weight:bold;
}
.PropertyName3
{
    color:#CC00CC;
    font-weight:bold;
}
.PropertyName4
{
    color:#CC9933;
    font-weight:bold;
}
.String
{
    color:#fff;
}
.Number
{
    color:#AA00AA;
}
.Boolean
{
    color:#fff;
}
.Function
{
    color:#AA6633;
    text-decoration:italic;
}
.Null
{
    color:#fff;
}
.Comma
{
    color:#000000;
    font-weight:bold;
}
PRE.CodeContainer{
    margin-top:0px;
    margin-bottom:0px;
}
PRE.CodeContainer img{
    cursor:pointer;
    border:none;
    margin-bottom:-1px;
}
#CollapsibleViewDetail a{
    padding-left:10px;
}
#ControlsRow{
    white-space:nowrap;
    font: 11px Georgia;
}
#TabSizeHolder{
    padding-left:10px;
    padding-right:10px;
}
#HeaderTitle{
    text-align:right;
    font-size:11px;
}
#HeaderSubTitle{
    margin-bottom:2px;
    margin-top:0px
}
#RawJson{
    width:99%;
    height:130px;
}
.unstringify{ padding-left: 30px; font-size: 11px; }
A.OtherToolsLink { color:#555;text-decoration:none; }
A.OtherToolsLink:hover { text-decoration:underline; }

.fa-toggle-on{
    font-size: 41px;
    color: #33e333;
}

.fa-toggle-off{
    font-size: 41px;
    color: #ff0000;
}

.console-info{
    overflow: hidden;
    height: 153px
}
.list-group-item{
    color:#fff !important;
}

#main-navbar {
    background: #282a36 !important;
    border-bottom: 1px solid #1265ef;
}
.navbar-brand {
    color:#fff !important;
}

section {
    overflow-x: hidden;
}

.row {
    margin-right: 2px;
    margin-left: 2px;
}

.api-desc{
    font-size: 12px;
}
.api_heading {
    font-size: 17px;
}

.alert {
    font-size: 14px;
}

.alert-dark {
    background-color: #274170 !important;
    color: white !important;
}
.bc {
    font-size: 14px;
}

.demo_text {
    color: #f29c93;
}

.actions {
    position: absolute;
    margin: 9px;
    right: 0;
}
.custom-card {
    margin-right: 13px;
}
.custom-card .card-body {
    padding-left: 11px;
    padding-right: 0;
}
